.container {
  position: fixed;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 50;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, var(--gradient-stops));
  --gradient-from: black;
  --gradient-stops: var(--gradient-from), var(--gradient-to, transparent);
}
.logoWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.logo {
  cursor: pointer;
}
.logoLink {
  cursor: pointer;
}
.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.navItem {
  margin-right: 10px;
}
.userNameWrapper {
  display: flex;
  align-items: center;
}
.usernameArrow {
  cursor: pointer;
}
.signOut {
  position: absolute;
  background-color: black;
  padding: 15px;
  width: 100px;
  cursor: pointer;
}
