.container {
  cursor: pointer;
}

.card {
  position: relative;
}

.card:hover {
  z-index: 99;
}

.small {
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 170px;
  min-height: 170px;
}

.medium {
  position: relative;
  width: 158px;
  min-width: 158px;
  height: 280px;
  min-height: 280px;
}

.large {
  position: relative;
  width: 218px;
  min-width: 218px;
  height: 434px;
  min-height: 434px;
}

.image {
  object-fit: cover;
  border-radius: 5px;
}
