.modalContent {
  overflow: hidden;
}
.player {
}

.likeDislike {
  display: flex;
  align-items: center;
  gap: 20px;
  top: 35%;
  position: absolute;
  padding: 20px;
}

.btnWrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.videoDescription {
  padding: 20px;
  max-height: 35vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
}
.videoDescription::-webkit-scrollbar {
  display: none;
}
.leftCol {
  max-width: 70%;
}
.releaseDate {
  color: aqua;
}
.movieName {
}
.description {
}

.rightCol {
}
.mututedText {
  color: gray;
}
